In [1]:
import pandas as pd

In [2]:
full_df = pd.read_csv('processed/2012-2021.tsv', sep='\t')
full_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18414 entries, 0 to 18413
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   title      18414 non-null  object
 1   year       18414 non-null  object
 2   value      18414 non-null  object
 3   canton     18414 non-null  object
 4   file_year  18414 non-null  int64
dtypes: int64(1), object(4)
memory usage: 719.4+ KB

In [3]:
full_df.head()

                              title       year    value  canton  file_year
0                         Residents       2010  611,466  Aargau       2012
1        Population density per km2       2010      438  Aargau       2012
2  Change in the last 10 years in %  2000-2010      1.2  Aargau       2012
3                 Through migration  2000-2010      9.5  Aargau       2012
4          Through natural increase  2000-2010      2.8  Aargau       2012

In [4]:
def value_column(df, value, column='title'):
    return df[df[column] == value].copy().sort_values(by='year').reset_index(drop=True)

In [5]:
population_df = full_df[full_df['title'] == 'Residents'].reset_index(drop=True)

In [6]:
population_df.head()

       title  year    value                  canton  file_year
0  Residents  2010  611,466                  Aargau       2012
1  Residents  2010   53,017  Appenzell Ausserrhoden       2012
2  Residents  2010   15,688   Appenzell Innerrhoden       2012
3  Residents  2010  274,404        Basel-Landschaft       2012
4  Residents  2010  184,950             Basel-Stadt       2012

In [7]:
population_df.sort_values(by=['year'])['year'].value_counts()

year
2010    27
2011    27
2012    27
2013    27
2014    27
2015    27
2016    27
2017    27
2018    27
2019    27
Name: count, dtype: int64

In [8]:
population_df.to_csv('processed/population.tsv', sep='\t', index=False)

In [9]:
population_density_df = full_df[(full_df['title'] == 'Population density per km2') | (full_df['title'] == 'Population density per kmÂ²')].reset_index(drop=True).sort_values(by=['year'])

In [10]:
population_density_df['year'].value_counts()

year
2010    27
2011    27
2012    27
2013    27
2014    27
2015    27
2016    27
2017    27
2018    27
2019    27
Name: count, dtype: int64

In [11]:
population_density_df.head()

                         title  year value       canton  file_year
0   Population density per km2  2010   438       Aargau       2012
26  Population density per km2  2010   197  Switzerland       2012
25  Population density per km2  2010   827       Zurich       2012
24  Population density per km2  2010   546          Zug       2012
23  Population density per km2  2010   253         Vaud       2012

In [12]:
population_density_df.to_csv('processed/population_density.tsv', sep='\t', index=False)

In [13]:
df_0_19 = value_column(full_df, '0-19 years')
df_20_64 = value_column(full_df, '20-64 years')
df_65_plus = pd.concat([value_column(full_df, '65 years or over'), value_column(full_df, '>64 years')], ignore_index=True).reset_index(drop=True)

In [14]:
len(df_0_19), len(df_20_64), len(df_65_plus)

(270, 270, 270)

In [15]:
# save to tsv
df_0_19.to_csv('processed/age_0_19.tsv', sep='\t', index=False)
df_20_64.to_csv('processed/age_20_64.tsv', sep='\t', index=False)
df_65_plus.to_csv('processed/age_65_plus.tsv', sep='\t', index=False)

In [16]:
urban_population_proportion_df = value_column(full_df, 'Urban population in %')
urban_population_proportion_df['year'].value_counts()

year
2010    27
2011    27
2012    27
2013    27
2014    27
2015    27
2016    27
2017    27
2018    27
2019    27
Name: count, dtype: int64

In [17]:
urban_population_proportion_df.to_csv('processed/urban_population_proportion.tsv', sep='\t', index=False)

In [18]:
marriage_rate = value_column(full_df, 'Crude marriage rate')
marriage_rate['year'].value_counts()

year
2013    27
2014    27
2015    27
2016    27
2017    27
2018    27
2019    27
Name: count, dtype: int64

In [19]:
marriage_rate.to_csv('processed/marriage_rate.tsv', sep='\t', index=False)

In [20]:
divorce_rate = value_column(full_df, 'Crude divorce rate')
divorce_rate['year'].value_counts()

year
2013    27
2014    27
2015    27
2016    27
2017    27
2018    27
2019    27
Name: count, dtype: int64

In [21]:
divorce_rate.to_csv('processed/divorce_rate.tsv', sep='\t', index=False)

In [22]:
birth_rate = value_column(full_df, 'Crude birth rate')
birth_rate['year'].value_counts()

year
2013    27
2014    27
2015    27
2016    27
2017    27
2018    27
2019    27
Name: count, dtype: int64

In [23]:
birth_rate.to_csv('processed/birth_rate.tsv', sep='\t', index=False)

In [24]:
mortality_rate = value_column(full_df, 'Crude mortality rate')
mortality_rate['year'].value_counts()

year
2013    27
2014    27
2015    27
2016    27
2017    27
2018    27
2019    27
Name: count, dtype: int64

In [25]:
mortality_rate.to_csv('processed/mortality_rate.tsv', sep='\t', index=False)

In [26]:
german = value_column(full_df, 'German')
german['year'].value_counts()

year
2012         54
2000         27
2010         27
2013         27
2014         27
2016         27
2016-2018    27
2017         27
2019         27
Name: count, dtype: int64

In [27]:
german[german['year'] == '2012']['file_year'].value_counts()

file_year
2014    27
2015    27
Name: count, dtype: int64

In [28]:
# drop rows with file_year == 2014
german = german[german['file_year'] != 2014].reset_index(drop=True).sort_values(by='year')
german['year'].value_counts()

year
2000         27
2010         27
2012         27
2013         27
2014         27
2016         27
2016-2018    27
2017         27
2019         27
Name: count, dtype: int64

In [29]:
german.to_csv('processed/german.tsv', sep='\t', index=False)

In [30]:
# do the same for French, English, Italian and Romansh
french = value_column(full_df, 'French')
french['year'].value_counts()

year
2012         54
2000         27
2010         27
2013         27
2014         27
2016         27
2016-2018    27
2017         27
2019         27
Name: count, dtype: int64

In [31]:
french[french['year'] == '2012']['file_year'].value_counts()

file_year
2014    27
2015    27
Name: count, dtype: int64

In [32]:
# drop 
french = french[french['file_year'] != 2014].reset_index(drop=True).sort_values(by='year')
french['year'].value_counts()

year
2000         27
2010         27
2012         27
2013         27
2014         27
2016         27
2016-2018    27
2017         27
2019         27
Name: count, dtype: int64

In [33]:
french.to_csv('processed/french.tsv', sep='\t', index=False)

In [34]:
english = value_column(full_df, 'English')
english['year'].value_counts()

year
2012         54
2010         27
2013         27
2014         27
2016         27
2016-2018    27
2017         27
2019         27
Name: count, dtype: int64

In [35]:
english[english['year'] == '2012']['file_year'].value_counts()

file_year
2014    27
2015    27
Name: count, dtype: int64

In [36]:
# drop the 2014 row
english = english[english['file_year'] != 2014].reset_index(drop=True).sort_values(by='year')
english['year'].value_counts()

year
2010         27
2012         27
2013         27
2014         27
2016         27
2016-2018    27
2017         27
2019         27
Name: count, dtype: int64

In [37]:
english.to_csv('processed/english.tsv', sep='\t', index=False)

In [38]:
italian = value_column(full_df, 'Italian')
italian['year'].value_counts()

year
2012         54
2000         27
2010         27
2013         27
2014         27
2016         27
2016-2018    27
2017         27
2019         27
Name: count, dtype: int64

In [39]:
italian[italian['year'] == '2012']['file_year'].value_counts()

file_year
2014    27
2015    27
Name: count, dtype: int64

In [40]:
italian = italian[italian['file_year'] != 2014].reset_index(drop=True).sort_values(by='year')
italian['year'].value_counts()

year
2000         27
2010         27
2012         27
2013         27
2014         27
2016         27
2016-2018    27
2017         27
2019         27
Name: count, dtype: int64

In [41]:
italian.to_csv('processed/italian.tsv', sep='\t', index=False)

In [42]:
romansh = value_column(full_df, 'Romansh')
romansh['year'].value_counts()

year
2012         54
2000         27
2010         27
2013         27
2014         27
2016         27
2016-2018    27
2017         27
2019         27
Name: count, dtype: int64

In [43]:
romansh[romansh['year'] == '2012']['file_year'].value_counts()

file_year
2014    27
2015    27
Name: count, dtype: int64

In [44]:
romansh = romansh[romansh['file_year'] != 2014].reset_index(drop=True).sort_values(by='year')
romansh['year'].value_counts()

year
2000         27
2010         27
2012         27
2013         27
2014         27
2016         27
2016-2018    27
2017         27
2019         27
Name: count, dtype: int64

In [45]:
romansh.to_csv('processed/romansh.tsv', sep='\t', index=False)

In [46]:
roman_catholic = value_column(full_df, 'Roman Catholic')
roman_catholic = roman_catholic[roman_catholic['file_year'] != 2014].reset_index(drop=True).sort_values(by='year')

In [47]:
protestant_reformed = value_column(full_df, 'Protestant Reformed')
protestant_reformed = protestant_reformed[protestant_reformed['file_year'] != 2014].reset_index(drop=True).sort_values(by='year')

In [48]:
no_affiliation = value_column(full_df, 'No affiliation')
no_affiliation = no_affiliation[no_affiliation['file_year'] != 2014].reset_index(drop=True).sort_values(by='year')

In [49]:
roman_catholic.to_csv('processed/roman_catholic.tsv', sep='\t', index=False)
protestant_reformed.to_csv('processed/protestant_reformed.tsv', sep='\t', index=False)
no_affiliation.to_csv('processed/no_affiliation.tsv', sep='\t', index=False)

In [50]:
area = value_column(full_df, 'Total surface area in kmÂ²')
area = area[area['year'] == '2016'].sort_values(by='year').reset_index(drop=True)
area

,title,year,value,canton,file_year
0,Total surface area in kmÂ²,2016,"1,404.0",Aargau,2021
1,Total surface area in kmÂ²,2016,"3,212.2",Vaud,2021
2,Total surface area in kmÂ²,2016,"5,224.8",Valais,2021
3,Total surface area in kmÂ²,2016,"1,076.3",Uri,2021
4,Total surface area in kmÂ²,2016,"2,812.3",Ticino,2021
5,Total surface area in kmÂ²,2016,991.5,Thurgau,2021
6,Total surface area in kmÂ²,2016,790.4,Solothurn,2021
7,Total surface area in kmÂ²,2016,908.0,Schwyz,2021
8,Total surface area in kmÂ²,2016,298.4,Schaffhausen,2021
9,Total surface area in kmÂ²,2016,"2,030.7",Saint Gallen,2021
10,Total surface area in kmÂ²,2016,490.6,Obwalden,2021
11,Total surface area in kmÂ²,2016,275.9,Nidwalden,2021
12,Total surface area in kmÂ²,2016,"1,728.9",Zurich,2021
13,Total surface area in kmÂ²,2016,802.3,NeuchÃ¢tel,2021
14,Total surface area in kmÂ²,2016,838.6,Jura,2021
15,Total surface area in kmÂ²,2016,"7,105.0",GraubÃ¼nden,2021
16,Total surface area in kmÂ²,2016,685.4,Glarus,2021
17,Total surface area in kmÂ²,2016,282.3,Geneva,2021
18,Total surface area in kmÂ²,2016,"1,671.4",Fribourg,2021
19,Total surface area in kmÂ²,2016,"5,959.4",Bern,2021
20,Total surface area in kmÂ²,2016,37.0,Basel-Stadt,2021
21,Total surface area in kmÂ²,2016,517.7,Basel-Landschaft,2021
22,Total surface area in kmÂ²,2016,172.4,Appenzell Innerrhoden,2021
23,Total surface area in kmÂ²,2016,242.9,Appenzell Ausserrhoden,2021
24,Total surface area in kmÂ²,2016,238.7,Zug,2021
25,Total surface area in kmÂ²,2016,"1,493.3",Lucerne,2021
26,Total surface area in kmÂ²,2016,"41,290.4",Switzerland,2021

In [51]:
area.to_csv('processed/area.tsv', sep='\t', index=False)

In [52]:
value_column(full_df, 'Total surface area in km2')

Empty DataFrame
Columns: [title, year, value, canton, file_year]
Index: []

In [54]:
unemploy = pd.concat([value_column(full_df, 'Unemployment rate in % (according to the SECO)'), value_column(full_df, 'Unemployment rate in % (annual average)'), value_column(full_df, 'Unemployment rate in % (according to SECO)'), value_column(full_df, 'Unemployment rate (according to SECO)')], ignore_index=True).sort_values(by='year').reset_index(drop=True)
unemploy['year'].value_counts()

year
2011    27
2012    27
2013    27
2014    27
2015    27
2016    27
2017    27
2018    27
2019    27
2020    27
Name: count, dtype: int64

In [55]:
unemploy.to_csv('processed/unemployment_rate.tsv', sep='\t', index=False)

In [56]:
some_hospital_bed = value_column(full_df, 'Hospital beds per 1000 inhabitants')
some_hospital_bed = some_hospital_bed[some_hospital_bed['file_year'] != 2014].reset_index(drop=True)
some_hospital_bed['year'].value_counts()

year
2012    27
2013    27
2014    27
2016    27
2017    27
2018    27
2019    27
Name: count, dtype: int64

In [57]:
hospital_bed = pd.concat([some_hospital_bed, value_column(full_df, 'Hospital beds per 1000 people')], ignore_index=True).sort_values(by='year').reset_index(drop=True)
hospital_bed['year'].value_counts()

year
2009    27
2011    27
2012    27
2013    27
2014    27
2016    27
2017    27
2018    27
2019    27
Name: count, dtype: int64

In [58]:
hospital_bed.to_csv('processed/hospital_beds_per1000.tsv', sep='\t', index=False)

In [59]:
some_no_edu = value_column(full_df, 'Without post-compulsory education')
some_no_edu = some_no_edu[some_no_edu['file_year'] != 2014].reset_index(drop=True)
some_no_edu['year'].value_counts()

year
2010    27
2012    27
2013    27
2014    27
2016    27
2017    27
2018    27
2019    27
Name: count, dtype: int64

In [60]:
without_post_compulsory_edu = pd.concat([value_column(full_df, 'Without post-mandatory education'), some_no_edu], ignore_index=True).sort_values(by='year').reset_index(drop=True)
without_post_compulsory_edu['year'].value_counts()

year
2000    27
2010    27
2012    27
2013    27
2014    27
2016    27
2017    27
2018    27
2019    27
Name: count, dtype: int64

In [61]:
without_post_compulsory_edu.to_csv('processed/without_post_compulsory_education.tsv', sep='\t', index=False)

In [62]:
crime_rate = value_column(full_df, 'under the Swiss Criminal Code')
crime_rate['year'].value_counts()

year
2013    27
2014    27
2015    27
2016    27
2017    27
2018    27
2019    27
Name: count, dtype: int64

In [63]:
crime_rate.to_csv('processed/crime_rate.tsv', sep='\t', index=False)